html, body {
    background-color: #05445E;
    font-family: Lato;
}
.container {
    padding-top: 20px;
}

form {
    padding-top: 20px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(odd) {
    background-color: #dddddd;
}

.back {
    background-color: #2E8BC0;
    border-radius: 2%;
    padding-bottom: 2%;
}

.select-subnet {
    width: 25%;
    padding-bottom: 2%;
    padding-right: 4%;
}

.oct {
    padding-left: 5%;
}

.value {
    color:white;
}

.about {
    text-decoration: none;
    color: white;
}

.mov {
    margin-top: 25%;
}