html, body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 41%, rgba(0,212,255,1) 100%);
    font-family: Lato;
    color: white;
    position: relative;
}
.container {
    padding-top: 20px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 41%, rgba(0,212,255,1) 100%);
}

nav {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 41%, rgba(0,212,255,1) 100%);
}

form {
    padding-top: 20px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    border-spacing: 0;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

tr:nth-child(odd) {
    background-color: #dddddd;
}

.select-subnet {
    width: 25%;
    padding-bottom: 2%;
    padding-right: 4%;
}

.oct {
    padding-left: 5%;
}

.value {
    color:white;
}

.about {
    text-decoration: none;
    color: white;
    margin-top: 4%;
}
img {
    width: 100%;
}
.modal-content {
    color: black;
    background-color: gray;
}
input[type="text"]{
    background-color : rgba(247, 245, 245, 0.733); 
}
select option {
    margin: 40px;
    background: rgba(0, 0, 0, 0.3);
    color: rgb(0, 0, 0);
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}
.modal-content1 {
    color: white;
    background-color: green;
}
.nani::before {
    content: "Select Subnet Mask";
}

/* curve */
.custom-shape-divider-bottom-1641899995 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1641899995 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-bottom-1641899995 .shape-fill {
    fill: #00aeff;
}

.pad {
    display: grid;
    place-content: center;
    margin-top: 50px;
    z-index: 1;
}


@media only screen and (max-width: 990px) {
    body {
        text-align: center;
        vertical-align: middle;
    }
    form {
        display: inline-block;
    }
    .form-select {
        width: 80px;
    }
}