html, body {
    background-color: #0e1011;
    font-family: Lato;
    color: white;
}
.container {
    padding-top: 20px;
}

form {
    padding-top: 20px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    border-spacing: 0;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

tr:nth-child(odd) {
    background-color: #dddddd;
}

.back {
    background-color: #fdfdfd10;
    border-radius: 2%;
    padding-bottom: 2%;
}

.select-subnet {
    width: 25%;
    padding-bottom: 2%;
    padding-right: 4%;
}

.oct {
    padding-left: 5%;
}

.value {
    color:white;
}

.about {
    text-decoration: none;
    color: white;
    padding-top: 2%;
}
img {
    width: 100%;
}
.modal-content {
    color: black;
    background-color: gray;
}
input[type="text"]{
    background-color : rgba(247, 245, 245, 0.733); 
}
select option {
    margin: 40px;
    background: rgba(0, 0, 0, 0.3);
    color: rgb(0, 0, 0);
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}
.modal-content1 {
    color: white;
    background-color: green;
}
.nani::before {
    content: "Select Subnet Mask";
}


@media only screen and (max-width: 990px) {
    body {
        text-align: center;
        vertical-align: middle;
    }
    form {
        display: inline-block;
    }
    .form-select {
        width: 80px;
    }
}